<h1>Réinitialisation de mot de passe</h1>
<p>Cliquez sur le lien suivant pour réinitialiser votre mot de passe :</p>
<a href="{{ url('app_reset_password', {'token': resetToken}) }}">Réinitialiser mon mot de passe</a>